@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background: white; */
    background: #392F38;
    color: white;
}
.navbar{
    height: 80px;
    background: #262626;
}
.navbar-brand{
    color: #7AA42E;
    font-weight: bold;
    font-size: 25px;
}
.navbar-brand:hover{
    color: #EEEEEE;
}
.nav-link{
    color: white;
}
.hero_section{
    background: #161819;
    height: 90vh;
}
.hero_section > img{
    height: 100vh;
    width: 100%;
}
.movies{
    margin-top: 20vh;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer */footer{
    background: #161819;
    color: #EEEEEE;
}
