{% extends 'base.html' %}

{% block content %}
<div class="hero_section">
  <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/04/14/14/09/fantasy-4126847_960_720.jpg" alt="">
</div>

    <div class="container-fluid">
      <div class="row movies">
      <h1 class="text-center">Top Rated</h1>
        {% for movie in movies %}
            <div class="col-md-3">
             <img class="img-fluid mt-3" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
             <div class="rating">
               <a href="/movie/{{ movie.id }}">
                <small>{{ movie.title }}</small>
               </a>
                <small>Rating: <strong>{{ movie.vote_average}}</strong></small>
              </div>
            </div>
        {% endfor %}
          </div>
    </div>    

    <footer>
      <div class="row container">
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>TMDB</p>
        </div>
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>©CopyRight All Rights Reserved</p>
        </div>
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>Made with love by Marcos Ochieng</p>
        </div>
      </div>
    </footer>

{% endblock %}
