{% extends 'base.html' %}

{% block content %}
<div class="hero_section">
  <img class="img-fluid" src="https://cdn.pixabay.com/photo/2020/06/03/03/58/spider-5253354_960_720.jpg" alt="">
</div>

    <div class="container-fluid">
      <div class="row movies">
        <h1 class="text-center">Popular Movies</h1>
        {% for popular_movie in popular %}
            <div class="col-md-3">
             <img class="img-fluid mt-3" src="https://image.tmdb.org/t/p/w500{{popular_movie.poster_path}}" alt="">
             <div class="rating">
               <a href="/movie/{{popular_movie.id}}">
                <small>{{ popular_movie.title }}</small>
               </a>
                <small>Rating: <strong>{{ popular_movie.vote_average}}</strong></small>
              </div>
            </div>
        {% endfor %}
          </div>
    </div>    

{% endblock %}