{% extends 'base.html' %}

{% block content %}
<div class="hero_section">
  <img class="img-fluid" src="https://demo.themezy.com/system/resources/demo_themes/000/000/010//dummy/slide-1.jpg" alt="">
</div>

    <div class="container-fluid">
      <div class="row movies">
        <h1 class="text-center">Trending Movies</h1>
        {% for trending in trendings %}
            <div class="col-md-3">
             <img class="img-fluid mt-3" src="https://image.tmdb.org/t/p/w500{{trending.poster_path}}" alt="">
             <div class="rating">
               <a href="/movie/{{trending.id}}">
                <small>{{ trending.title }}</small>
               </a>
                <small>Rating: <strong>{{ trending.vote_average}}</strong></small>
              </div>
            </div>
        {% endfor %}
          </div>
    </div>    

    <footer>
      <div class="row container">
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>TMDB</p>
        </div>
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>©CopyRight All Rights Reserved</p>
        </div>
        <div class="col-md-4 text-center pt-5 pb-5">
          <p>Made with love by Marcos Ochieng</p>
        </div>
      </div>
    </footer>

{% endblock %}